This is the profile for <%= @profile.user.email %> <br><br>
<div class =  "col-md-3"> <b><h5>Personal description: </b></h5> <i><%= @profile.description %></i>
	<%= image_tag @profile.pic %> 
</div>


	